.lava_with_border {
	position:relative;
	width:421px;
	height:29px;
	padding:15px;
}
.lava_with_border li {
	float:left;
}
.lava_with_border li a {
	float:left;
	font-weight:bold;
	color:#333333;
	font-size:14px;
	top:8px;
	margin:auto 10px;
	text-decoration:none;
	position:relative;
	z-index:3;
}
.lava_with_border li a:hover {
	text-decoration:none;
	color:#333333;
}
.lava_with_border li.back {
	height:30px;
	border-bottom:3px solid #34538b;
	position:absolute;
	z-index:2;
}
